* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 0 80px;
    font-family: Roboto;

    color: #F3F3F3;
    background-color: #222222;
}

.pais>select {
    font-family: Roboto;
    font-size: 10px;
    line-height: 12px;
    
    color: #F3F3F3;
    background-color: #222222;
    border: none;
}

header {
    height: 62px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;

    background: #F0A83E;
    color: #FFFFFF;
}

.logo {
    position: absolute;
    width: 166.38px;
    height: 23px;
    left: 40px;
    top: 55px;
    background-color:#F0A83E;
}

.nav1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-start;
    padding: 30px;
    height: 14px;

    background-color: #f0a83e ;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    height: 14px;
}


.nav1>ul>li{
    list-style: none;
}

.nav1>ul>li>a {
    font-family: Roboto;
    font-size: 13px;
    text-decoration: none;

    color: #ffffff;
}

.nav1>ul {
    display: flex;
    gap:20px;
    margin-left: 30px
}

.banner {
    height:500px ;
    background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

.hijo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}

.hijo>h2 {
    width: 350px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;

    font-family: Roboto;
    font-size: 26px;
    letter-spacing: 0.8px;
    text-align: center;

    color: #3C2313;
    background-color: #ffffff;
}

.hijo>p {
    font-family: Roboto;
    font-size: 16px;;
    color: #3C2313;
}

.comederos {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    padding: 10px;

    text-transform: uppercase;
    font-size: 15px;
    font-family: Roboto;
    text-align: center;
    text-decoration: none;
    

    color: #ffffff;
    background-color: #f0a83e;
    border:#f0a83e;
}

.father1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:30px;
    padding: 50px 0;
}

.father1>h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: Roboto;

    color: #3c2313;
}

.nav2>ul {
    display: flex;
    gap:20px;
}

.nav2>ul>li {
    list-style: none;
}

.nav2>ul>li>a {

    font-family: Roboto;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    font-family: Roboto;

    color: #666666;
}

.img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.cont {
    width: 265px;
    height: 320px;
    background-color: #FBFAF6;
}

.cont>h3 {
    font-family: Roboto;
    font-size: 15px;

    color: #3C2313;
}

.cont>p {
    font-family: Roboto;
    font-size: 15px;

    color: #F0A83E;
}

.form>h4 {
    font-family: Roboto;
    font-size: 25px;

    color: #3C2313;
}

.form {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding:50px 0;
}

.form>form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.form>form>input {
    font-family: Roboto;
    font-size: 9px;
    width: 300px;
    height: 40px;
    letter-spacing: 0.5px;
    padding: 10px;

    background-color: #3c2313;
    border: solid 1px #3c2313;
    border-radius: 15px;

    color: white;
}

.btn {
    width: 110px;
    height: 34px;
    font-family: Roboto;
    font-size: 16px;

    color: #FFFFFF;

    background: #8a8787;
    border: solid 1px #8a8787;
    border-radius: 15px;
}

.btn2 {
    width: 110px;
    height: 34px;
    font-family: Roboto;
    font-size: 16px;

    color: #FFFFFF;

    background: #F0A83E;
    border: solid 1px #F0A83E;
    border-radius: 15px;
}

footer {
    background: #3C2313;
}

.father3-0 {
    background-color: #F0A83E;
    top: 150px;
}

.father4 {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 30px;

    background-color: #f0a83e;
}

.father4>h5 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}

.father5 {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    padding:0 30px;

    background-color: #f0a83e;
}

.hijo2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:10px;
}


.hijo2>input {
    font-family: Roboto;
    font-size: 9px;

    width: 271px;
    height: 40px;

    color: #A0A0A0;

    border: solid 1px #FFFFFF;
    background: #FFFFFF;
    border-radius: 15px;
}

.btn3 {
    width: 70px;
    height: 34px;
    padding: 10px;

    text-decoration: none;
    font-family: Roboto;
    font-weight: bold;
    font-size: 9px;
    letter-spacing: 0.5px;
    

    color: #FFFFFF;

    background: #3C2313;
    border: solid 1px #3c2313;
    border-radius: 15px;
}

.logo2 {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    align-items: center;
    right: 800px;
}

.father6-0 {
    display: flex;
    justify-content: space-between;
}

.father6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 80px;
}

.hijo3 {
    height:auto;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.hijo4 {
    display: flex;
    justify-content: flex-start;
    gap:30px;
}


dt {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    margin:10px 0;

    color: #FFFFFF;
}

dd {
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;

    color:#8A8787;
}

.end {
    height: 20px;

    font-family: Roboto;
    text-align: center;
   
    color: #FFFFFF;
    background-color: #222222;
}




